@model IEnumerable<Disaster_Alleviation_Foundation.Models.GoodsAllocation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AllocationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disaster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoodsDonation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AllocationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disaster.DisasterId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodsDonation.GoodsId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AllocationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AllocationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AllocationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
